.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;                       
}

.inputfile + label {
    max-width: 190px;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/* .inputfile + label * {
    /* pointer-events: none;
    /* in case of FastClick lib use
} */

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #192B34;
    background-color: #16C98C;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #192B34;
    color: #16C98C;
}


input[type=text] {
    width: 230px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.inputbutton {
    font-size: 1.25rem;
    font-weight: 700;
    width: 230px;
    background-color: #16C98C;
    color: #192B34;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;   
    cursor: pointer;
}

.inputbutton:hover {
    background-color: #192B34;
    color: #16C98C;
}

.inputfilelabel {
    width:220px;
}

.loadedfile {
    width: 90%;
    border: 25px solid #16c98c;
    padding: 25px;
    margin: 25px;
    color: white;
    border-width: 2px;
    padding: 10px;
    background-color: #192b34;
    max-height: 21%;
    overflow: auto;
}