body {
    height: 100vh; 
	width: 100vw; 
	display: flex;
	align-items: center;
}

.login {
	align-self: center;
	margin-left: 40%;
}

.input {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
	width: 100%;
    background-color: #192B34;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
	background-color: #1BEBA0;
    color: #192B34;
    cursor: pointer;
}