/* Here will be css for sizes of elements in diferent screens */

@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body {
    margin: 0;
    padding: 0;
    background: #00b7ea;
    background: -moz-linear-gradient(-45deg, #16C98C 0%, #14955D 100%);
    background: -webkit-linear-gradient(-45deg, #16C98C 0%, #14955D 100%);
    background: linear-gradient(135deg, #16C98C 0%, #14955D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16C98C', endColorstr='#14955D', GradientType=1);
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.chat {
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 5px;
}
 
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #16C98C;
  outline: 1px solid #14955D;
  border-radius: 2px;
}

.fa.fa-times.icon {
    color: #1BEBA0;
    font-size: 30px;
    float: left;
    height: 20px;
    padding: 0 10px;
    float: right;
    display: none;
}

.close-users {
    width: 100vw;
    display: block;
    height: 20px;
    position: fixed;
    top:0;
}

#users-btn {
    display: none;
}

.textarea {
    height: 50px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 10px;
}
.user-message {
    width: 89%;
    border-top-left-radius: 41px;
    border-bottom-left-radius: 41px;
    height: 40px;
    resize: none;
    padding: 7px 22px;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    float: left;
}
.send {
    width: 11%;
    margin: 0;
    border-top-right-radius: 41px;
    border-bottom-right-radius: 41px;
    height: 40px;
    resize: none;
    padding: 7px 22px;
    box-sizing: border-box;
    font-size: 18px;
    float: left;
}

/* Small devices (tablets, 768px and up) */

@media screen and (max-width: 767px) {

    .textarea {
        height: 50px;
        width: calc(100% - 40px);
        position: absolute;
        bottom: 10px;
    }
    .user-message {
        width: 72%;
       
    }
    .send {
        width: auto;
        padding: 7px 20px!important;
    }

    .fa.fa-times.icon {
        display: block;
    }

    .fa.fa-times.icon:hover {
        background-color: transparent!important;
    }

    .users {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 2;
        padding-top: 50px; 
    }
    #users-btn {
        display: block;
    }
    
    .hidden {
        display: none;
    }
    .wrapper {
        width: 100vw;
        height: 100vh;
    }
    .chat {
        height: calc(100vh - 50px);
        width: 100vw;
    }
    header {
        width: 100vw;
        height: 50px;
    }
    .icon {
        padding: 0 17px!important;
    }
    .right {
        margin:0!important;
    }
}


/* Medium devices (desktops, 768px and up) */

@media screen and (min-width: 768px) {
    .send {
        width: auto;
        padding: 7px 20px;
    }
    .user-message {
        width: 72%;
    }
    .wrapper {
        width: 100vw;
        height: 100vh;
    }
    header {
        width: 100vw;
        height: 50px;
        float: left;
    }
    .users {
        width: 35%;
        height: calc(100vh - 50px);
    }
    .chat {
        height: calc(100vh - 50px);
        width: 65%;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        width: 100vw;
        height: 100vh;
    }
    header {
        width: 100vw;
        height: 50px;
        float: left;
    }
    .users {
        width: 25%;
        height: calc(100vh - 50px);
    }
    .chat {
        height: calc(100vh - 50px);
        width: 75%;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    header {
        width: 100%;
        height: 50px;
    }
    .wrapper {
        width: 1200px;
        height: 70vh;
        margin: 15vh auto;
        border-radius: 15px;
    }
    .users {
        width: 25%;
        height: calc(70vh - 50px);
    }
    .chat {
        width: 75%;
        height: calc(70vh - 50px);
    }
    .messages {
        max-height: -webkit-fill-available;
        max-height: fill-available;
        position: absolute;
        width: calc(100% - 40px);
        bottom: 60px;
        overflow-y: hidden;
    }
    .textarea {
        height: 50px;
        width: calc(100% - 40px);
        position: absolute;
        bottom: 10px;
    }
    .user-message {
        width: 89%;
        border-top-left-radius: 41px;
        border-bottom-left-radius: 41px;
        height: 40px;
        resize: none;
        padding: 7px 22px;
        box-sizing: border-box;
        font-size: 18px;
        margin: 0;
        float: left;
    }
    .send {
        width: 11%;
        margin: 0;
        border-top-right-radius: 41px;
        border-bottom-right-radius: 41px;
        height: 40px;
        resize: none;
        padding: 7px 22px;
        box-sizing: border-box;
        font-size: 18px;
        float: left;
    }
}