/* Styles for elements */

header {
    background-color: #192B34;
}

.wrapper {
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.line {
    background-color: #1BEBA0;
}


/* User start */

#logged-user-name {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    color: #1BEBA0;
    margin-top: 12px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    float: left;
}

i.fa {
    margin-left: 30px;
    float: left;
    font-size: 25px;
    color: #1BEBA0;
    margin-top: 12px;
    
}

.users {
    background-color: #1c303a;
    float: left;
    box-sizing: border-box;
    overflow-y: scroll;
}

.user {
    height: 50px;
    padding: 10px;
}

.user:hover {
    color: #192B34;
    background-color: #1BEBA0;
    cursor: pointer;
}

.user:hover .user-name {
    color: #000000;
}

.user-name {
    float: left;
    /* color: #1BEBA0; */
    color: #F2F3F4;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 15px;
}

.user-short-name {
    padding: 15px;
    background: #F3EDEC;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-left: 15px;
}

.user-image {
    font-size: 70%;
    color: #7B7878;
    font-weight: bold;
    display: absolute;
    text-align: center;
    top: 50px;
}


/* Users End */


/* Chat start */

.chat {
    background-color: #1c303a;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

input,
.send {
    outline: none;
    border: none;
}

input:focus,
input:hover,
.send:focus,
.send:hover {
    border: #fff 0.5px solid;
}

.user-message,
.send {
    background: #192B34;
    color: #fff;
}


/* Chat Ends */

.left {
    float: left;
    /* margin-left: 35px; */
}

.right {
    float: right;
    margin-right: 35px;
}

.center {
    float: center;
    margin-right: 36px;
}

.icon {
    color: #1BEBA0;
    font-size: 30px;
    float: left;
    height: 50px;
    padding: 0 30px;
}

.icon:hover {
    background-color: #1BEBA0;
    color: #192B34;
    cursor: pointer;
}

.icon::before {
    position: relative;
    top: 10px;
}