<div class="gray-manta" id="gray-manta" style="display:none"></div>
<div id="video-wrapper" style="display: none">
    <video id="remoteVideo" autoplay></video>
    <video id="localVideo" autoplay muted></video>
    <div class="video-menu">
        <div class="fa fa-phone icon" id="close-video"></div>
    </div>
</div>