.gray-manta {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, .7);
    transition: all 0.15s ease-in-out;
}

#video-wrapper {
    position: fixed;
    z-index: 100;
    width: 90%;
    height: auto;
    top: 10%;
    left: 5%;
    padding: 25px;
    border-radius: 10px;
    background-color: #192B34;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

#remoteVideo,
video {
    width: 60%;
    float: left;
    margin-left: 50px;
    z-index: 100;
    border-radius: 10px;
}

video:nth-child(2) {
    float: right;
    width: 15%;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.video-menu {
    float: right;
}

.video-menu .fa.fa-phone.icon {
    color: red;
}

.video-menu .fa.fa-phone.icon::before {
    transform: rotate(135deg);
}

i.fa-times {
    color: #ffffff;
    margin: 5px;
    cursor: pointer;
}